{% extends 'base.html' %}

{% block title %}
  guiljanielFilms - Inici
{% endblock %}

{% block content %}
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Top 10</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Rankings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tendència</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Novetats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tràilers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">De l'any 2024</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Body -->
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2>Netflix</h2>
        <div id="seriesNetflix" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Primera fila del carrusel -->
            <div class="carousel-item active">
              <div class="card-deck">
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('serie') }}">
                    <img src="{{ url_for('static', filename='Netflix/daredevil.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Daredevil</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Netflix/StrangerThings.html') }}">
                    <img src="{{ url_for('static', filename='Netflix/stranger_things-875025085-large.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Stranger Things</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Netflix/gambitodedama.html') }}">
                    <img src="{{ url_for('static', filename='Netflix/gambitodedama.png') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Gambito de Dama</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Segona fila del carrusel -->
            <div class="carousel-item">
              <div class="card-deck">

                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Netflix/blackmirror.html') }}">
                    <img src="{{ url_for('static', filename='Netflix/blackmirror.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Black Mirror</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Netflix/por13razones.html') }}">
                    <img src="{{ url_for('static', filename='Netflix/por13razones.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Por 13 Razones</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Netflix/peakyblinders.html') }}">
                    <img src="{{ url_for('static', filename='Netflix/peakyblinders.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Peaky Blinders</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#seriesNetflix" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#seriesNetflix" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Següent</span>
          </a>
        </div>
        <a href="#" class="btn btn-primary mt-3">Veure més +</a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2>HBO</h2>
        <div id="seriesHBO" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Primera fila del carrusel -->
            <div class="carousel-item active">
              <div class="card-deck">
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/GOT.html') }}">
                    <img src="{{ url_for('static', filename='HBO/GOT.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Juego de Tronos</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/thelastofus.html') }}">
                    <img src="{{ url_for('static', filename='HBO/thelastofus.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">The Last Of US</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/riverdale.html') }}">
                    <img src="{{ url_for('static', filename='HBO/riverdale.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Riverdale</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Segona fila del carrusel -->
            <div class="carousel-item">
              <div class="card-deck">

                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/outsider.html') }}">
                    <img src="{{ url_for('static', filename='HBO/outsider.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">The Outsider</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/from.html') }}">
                    <img src="{{ url_for('static', filename='HBO/from.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">From</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='HBO/thehead.html') }}">
                    <img src="{{ url_for('static', filename='HBO/Thehead.jpg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">The Head</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#seriesHBO" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#seriesHBO" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Següent</span>
          </a>
        </div>
        <a href="#" class="btn btn-primary mt-3">Veure més +</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Disney +</h2>
        <div id="seriesDisney" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Primera fila del carrusel -->
            <div class="carousel-item active">
              <div class="card-deck">
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/Punisher.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/punisher.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">The Punisher</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/shogun.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/shogun.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Shōgun</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/thedropout.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/thedropout.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">The Dropout</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Segona fila del carrusel -->
            <div class="carousel-item">
              <div class="card-deck">

                
                <!-- Serie 2 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/dopesick.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/dopesick.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 2">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Dopesick</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Ciencia Ficció</span>
                  </div>
                </div>
                <!-- Serie 3 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/nada.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/nada.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 3">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Nada</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Acció</span>
                  </div>
                </div>
                <!-- Serie 1 -->
                <div class="card">
                  <a href="{{ url_for('static', filename='Disney+/nosvemosenotravida.html') }}">
                    <img src="{{ url_for('static', filename='Disney+/nosvemosenotravida.jpeg') }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie 1">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">Nos vemos en otra vida</h5>
                    <span class="category-tag">Anime</span>
                    <span class="category-tag">Fantasia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#seriesDisney" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#seriesDisney" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Següent</span>
          </a>
        </div>
        <a href="#" class="btn btn-primary mt-3">Veure més +</a>
      </div>
    </div>
  </div>
{% endblock %}
