{% extends 'base.html' %}

{% block title %}
  guiljanielFilms - Inici
{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Top 10</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tendència</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Novetats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tràilers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">De l'any 2024</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>Netflix</h2>
      <div id="seriesNetflix" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for batch in netflix_batches %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
              {% for serie in batch %}
                <div class="col">
                    <div class="card">
                      <a href="{{ url_for('serie', serie_id=serie['SerieID']) }}">
                        <img src="{{ url_for('static', filename='uploads/' + serie['Plataforma'] + '/' + (serie['ImatgeTemporada'] if serie['ImatgeTemporada'] is not none else '')) }}" class="card-img-top img-fluid" alt="{{ serie['NomSerie'] }}">
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{ serie['NomSerie'] }}</h5>
                        <!-- Mostrar la temática -->
                        {% if serie['Tematica'] %}
                          <div>
                            <span class="category-tag">{{ serie['Tematica'] }}</span>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Botones de control -->
        <button class="carousel-control-prev" type="button" data-bs-target="#seriesNetflix" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#seriesNetflix" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Següent</span>
        </button>
      </div>
      <a href="#" class="btn btn-primary mt-3">Veure més +</a>
    </div>
  </div>
</div>




<!-- Sección de HBO -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>HBO</h2>
      <div id="seriesHBO" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for batch in hbo_batches %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
              {% for serie in batch %}
                <div class="col">
                  <div class="card">
                    <a href="{{ url_for('serie', serie_id=serie['SerieID']) }}">
                      <img src="{{ url_for('static', filename='uploads/' + serie['Plataforma'] + '/' + (serie['ImatgeTemporada'] if serie['ImatgeTemporada'] is not none else '')) }}" class="card-img-top img-fluid" alt="{{ serie['NomSerie'] }}">
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">{{ serie['NomSerie'] }}</h5>
                      <!-- Mostrar la temática -->
                      {% if serie['Tematica'] %}
                        <div>
                          <span class="category-tag">{{ serie['Tematica'] }}</span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Botones de control -->
        <button class="carousel-control-prev" type="button" data-bs-target="#seriesHBO" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#seriesHBO" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Següent</span>
        </button>
      </div>
      <a href="#" class="btn btn-primary mt-3">Veure més +</a>
    </div>
  </div>
</div>
  


<!-- Sección para Disney Plus -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h2>Disney Plus</h2>
      <div id="seriesDisneyPlus" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Primera fila del carrusel -->
          {% for batch in disneyplus_batches %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
              <!-- Series de Disney Plus -->
              {% for serie in batch %}
              <div class="col">
                <div class="card">
                  <a href="{{ url_for('serie', serie_id=serie['SerieID']) }}">
                    <img src="{{ url_for('static', filename='uploads/' + serie['Plataforma'] + '/' + (serie['ImatgeTemporada'] if serie['ImatgeTemporada'] is not none else '')) }}" class="card-img-top img-fluid" alt="Imatge de la Sèrie" loading="lazy">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">{{ serie['NomSerie'] }}</h5>
                    <!-- Mostrar la temática -->
                    {% if serie['Tematica'] %}
                    <div>
                      <span class="category-tag">{{ serie['Tematica'] }}</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Botones de control -->
        <button class="carousel-control-prev" type="button" data-bs-target="#seriesDisneyPlus" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#seriesDisneyPlus" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Següent</span>
        </button>
      </div>
      <a href="#" class="btn btn-primary mt-3">Veure més +</a>
    </div>
  </div>
</div>


{% endblock %}
