{% extends 'base.html' %}

{% block title %}Resenyes{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mt-4 mb-4">Resenyes</h1>
    </div>
</div>

{% for review in user_reviews %}
<div class="card mb-4">
    <div class="card-header">
        <h2>{{ review['NomSerie'] }}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4>Temporada {{ review['NumTemporada'] }}</h4>
                <p>{{ review['Critica'] }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
