{% extends 'baseuser.html' %}

{% block title %}Resenyes de Temporades{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mt-4 mb-4">Resenyes de Temporadas</h1>
    </div>
</div>

{% for serie in series %}
<div class="card mb-4">
    <div class="card-header">
        <h2>{{ serie['nombre'] }}</h2>
    </div>
    <div class="card-body">
        {% for temporada in serie['temporadas'] %}
        <div class="row">
            <div class="col-md-6">
                <h4>{{ temporada }}</h4>
                <p>{{ serie['reseñas'][temporada] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
